*{
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
}
.card__container h1{
	font-size:50px;
}
.card__container h4{
	font-size:20px;
	font-weight:400;
	color:#757B80;
}
.img__card h2{
	font-size:24px;
	
}
.img__card h3{
	font-size:14px;
	font-weight:400;
	color:#A2A2A2;
}
.main__container{
	width:100%;
	background-color:#F7F7F7;
	background-image:url(../img/bg-img.jpg)
}
.container{
	width:1200px;
	margin:0 auto;
	padding-top:24px;
	padding-bottom:60px;
}
.card__container{
	display:flex;
	align-items:center;
	flex-direction:column;
	gap:16px;
	width:100%;
}
.img__container{
	display:flex;
	width:100%;
	gap:10px;
	padding-top:50px;
}
.img__card{
 width:25%;
 padding:15px 15px 30px;
 display:flex;
 align-items:center;
 flex-direction:column;
 background-color:#FFFFFF;
}
.img__card img{
	max-width:100%;
}
.icon{
	width:40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 25px;
    position: relative;
    top: -20px;
    text-align: center;
    line-height: 45px;
}
.icon:hover .fa-share-nodes:hover{
	width:40px;
    height: 40px;
    border-radius: 25px;
	color:red;
}
.fa-check-double{
	font-size:20px;
	color:red;
}
.fa-share-nodes{
	font-size:18px;
	color:#000;
}
